html,body {
			height: 100vh;
      margin: 0;
      font-family: Montserrat, sans-serif;
     

		}
	
#map {
  width: 700px;
  height: 500px;
}

#background {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px; 
          background-image: url('assets/left.png'), url('assets/right.png');
          background-repeat: no-repeat, no-repeat;
          background-position: left, right;
          background-size: auto 100%, auto 100%;
        }
        

    .leaflet-marker-photo { 
	    border: 2px solid #fff; 
	    box-shadow: 3px 3px 10px #888; 
    }	

.leaflet-marker-photo { 
  border: 2px solid #fff; 
  box-shadow: 3px 3px 10px #888; 
}	
    .padding {
      padding: 0px 25px 25px 50px;
    }
    
    .header {
        padding: 10px;
        text-align: left;
        background: white;
        color: #6f7173;
        font-family: Montserrat;
        width: 90vw;
        font-size: 30px;
        display: flexbox;
        justify-content: space-between;
      }
      .header span{
        padding: 0 20px;
      }
      .header span :first-child{
        padding-left: 10px;
      }
      .header span :last-child{
        padding-right: 10px;
      }

      .take{
        font-family: Montserrat;
        font-weight: bold;
        font-size: 9vw;
        color: #0499c3;
        line-height: 70%;
      }

    .picture
    {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 9vw;
        color: #04363f;
        line-height: 90%;
    }

    .para
    {
        font-family: Montserrat;
        font-size: 1.5vw;
        color: #414042;
        line-height: 100%;
        width: 500px;
        padding-bottom: 30px;
    }

    .button, .upload-image, .grey-button {
        background-color: #04363f;
        font-family: Montserrat; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 13px;
      }

      .formText{
        font-family: Montserrat;
    }

    .introText{
      font-family: Montserrat;
      width: 250px;
      color: #6f7173;
  }

      ::-ms-browse, .blue-button {
        background-color: #0499c3;
        font-family: Montserrat; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 13px;
      }

      ::-webkit-file-upload-button, .blue-button {
        background-color: #0499c3;
        font-family: Montserrat; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 13px;
      }

      div.form
      {
        display: block;
        text-align: center;
      }

      .form
      {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }

      .center1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-bottom: 15px;
        /* max-height: 400px; */
      }

      .button1 {
        margin:0 auto;
        display:block;
    }

      .flexbox
      {
        display: flex;
        justify-content: center;
        overflow: auto;
        padding-bottom: 15px;
      }

      .map1
      {
        width:55%;
        display: inline-block;
      }

      .picture1
      {
        width:42%;
        display: inline-block;
        object-fit: contain;
        padding-right: 15px;
      }

      .clearfix
      {
        content: "";
        clear: both;
        display: table;
      }
  

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-9-30 13:54:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-9-30 14:0:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* SEARCH PHOTOS STYLING */

.search-body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75vw;
  margin: 5px auto;
  justify-content: space-around;
}

.search-body div, .photo-container{
  margin: 30px;
  display: inline-grid;
  width: 250px;
  text-align: center;
  height: auto;
  border: solid 1px black;
  border-radius: 11px;
  box-shadow: 1px 1px black, -.2em 0 .4em rgb(101, 97, 97);
  background: #6aa6f8;
  color: white;
}

.search-body div img, .photo-container img {
  margin: 10px auto;
  display: block;
  border: .5px solid black;
  max-height: 200px;
}

.search-body button {
  background-color: #04363f;
        font-family: Montserrat; 
        border: none;
        color: white;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 13px;
        margin: 0 auto 5px auto;
        display: block;
        bottom: 10px;

}


/* IMAGE HOVER */

.search-body div img:hover {
	transform: scale(1.5);
  transition-duration: .5s;
}

.leaflet-container{
  margin: 6px auto;
}


/* MY PHOTOS PAGE */

.my-photo-page{
  display: flex;
  justify-content: space-around;
}

/* UPLOAD PAGE */
form.edit-photo input {
    float: right;
    width: 200px;
}
form.edit-photo {
    line-height: 2.2;
    width: 360px;
    display: block;
    text-align: end;
}
form.edit-photo label {
  margin-right: 8px;  
}

.title {
  font-size: 36px;
  text-align: center;
}

.solo-photo {
    text-align: center;
}


.delete-photo, .edit-comment, .delete-comment{
    background-color: #04363f;
    font-family: Montserrat;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 13px;
    margin-right: 20px;
    height: 15px;
    padding-top: 5px;
}
.edit-comment, .delete-comment {
  float:right;
  padding: 3px;
  height: auto;
}
.comment-container {
    width: 600px;
    margin: 40px auto;
    text-align: center;
    border: 1px solid grey;
    min-height: 300px;
    border-radius: 15px;
    box-shadow: 1.5px 1.1px 1.1px 2px darkslategrey;
    display: grid;
}
.comment{
  height: auto;
}

button.comment-on {
    position: absolute;
    bottom: -3px;
    height: 28px;
    margin: 0px;
    width: 604px;
    justify-self: center;
    border-radius: 0 0 18px 18px;
    margin-left: -2px;
    background-color: #04363f;
    font-family: Montserrat;
    border: none;
    color: white;
}
.indi-comment {
    border-bottom: .4px solid black;
    background: ghostwhite;
    text-align: left;
    padding: 4px;
    border-radius: 18px;
}

div.comment-container > div:nth-last-child(2) {
    margin-bottom: 25px;
}