html,body {
			height: 100%;
			margin: 0;
		}
	
#map {
  width: 700px;
  height: 500px;
}
        

    .leaflet-marker-photo { 
	    border: 2px solid #fff; 
	    box-shadow: 3px 3px 10px #888; 
    }	

.leaflet-marker-photo { 
  border: 2px solid #fff; 
  box-shadow: 3px 3px 10px #888; 
}	
    .padding {
      padding: 0px 25px 25px 50px;
    }
    
    .header {
        padding: 10px;
        text-align: left;
        background: white;
        color: #6f7173;
        font-family: Montserrat;
        width: 90vw;
        font-size: 30px;
        display: flexbox;
        justify-content: space-between;
      }
      .header span{
        padding: 0 20px;
      }
      .header span :first-child{
        padding-left: 10px;
      }
      .header span :last-child{
        padding-right: 10px;
      }

      .take{
        font-family: Montserrat;
        font-weight: bold;
        font-size: 9vw;
        color: #0499c3;
        line-height: 70%;
      }

    .picture
    {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 9vw;
        color: #04363f;
        line-height: 90%;
    }

    .para
    {
        font-family: Montserrat;
        font-size: 1.5vw;
        color: #414042;
        line-height: 100%;
        width: 500px;
        padding-bottom: 30px;
    }

    .button, .upload-image {
        background-color: #04363f;
        font-family: Montserrat; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 13px;
      }

      .formText{
        font-family: Montserrat;
    }

    .introText{
      font-family: Montserrat;
      width: 250px;
      color: #6f7173;
  }

      ::-ms-browse {
        background-color: #0499c3;
        font-family: Montserrat; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 13px;
      }

      ::-webkit-file-upload-button {
        background-color: #0499c3;
        font-family: Montserrat; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 13px;
      }

      div.form
      {
        display: block;
        text-align: center;
      }

      .form
      {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }

  

      